@model Waffles_Club.Shared.ViewModels.WaffleViewModel
@{
    Layout = "_AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Добавление вафли</title>
</head>
<body>
    <div>
       <form action="/Admin/Waffle/Create" method="post">

            <label asp-for="Name">Название:</label>
            <input asp-for="Name" class="form-control" name="Name" />

            <label asp-for="CountInPackage">Количество в пачке:</label>
            <input asp-for="CountInPackage" class="form-control"  name="CountInPackage" />

            <label asp-for="Weight">Вес:</label>
            <input asp-for="Weight" class="form-control"  name="Weight" />

            <label asp-for="Description">Описание:</label>
            <input asp-for="Description" class="form-control"  name="Description" />

            <label asp-for="Price">Цена:</label>
            <input asp-for="Price" class="form-control"  name="Price" />

            <label asp-for="ImageUrl">URL на картинку:</label>
            <input asp-for="ImageUrl" class="form-control"  name="ImageUrl" />

            <label asp-for="TypeId">Тип вафли:</label>
            <select asp-for="TypeId" class="form-control" name="TypeId">
                @foreach (var type in ViewBag.WaffleTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>

            <label asp-for="FillingTypeId">Тип наполнения:</label>
            <select asp-for="FillingTypeId" class="form-control" name="FillingTypeId">
                @foreach (var type in ViewBag.FillingTypes)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </select>
            <button type="submit">Создать вафлю</button>
        </form>
    </div>
</body>
</html>
